@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");

:root {
  --primary-color: #d8dfe8;
  --secondary-color: #9b9797;
  --terciary-color: #e8e8e8;
  --quaternary-color: #000000;

  --darkblue-100: #609ed4;
  --darkblue-200: #356ea9;
  --darkblue-300: #0a3871;
  --darkblue-400-thin: #072b61;
  --darkblue-400-strong: #052051;

  --lightblue-100: #f3f5fc;
  --lightblue-200: #eff1fa;
  --lightblue-300: #e9ecf8;
  --lightblue-400-thin: #aab2d5;
  --lightblue-400-strong: #757fb2;

  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;

  --primary-font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-color);
}

/* Header */
.header {
  padding: 2% 0 0 2%;
}

/* Main */
.presentation {
  display: flex;
  gap: 5rem;
  margin-left: 16.6%;
}

.presentation__mainContent {
  width: 64%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.presentation__mainContent__text {
  width: 100%;
  height: 60vh;
  background-color: var(--primary-color);
  border: none;
  font-family: var(--primary-font-family);
  color: var(--darkblue-300);
  font-weight: 300;
  font-size: 2rem;
  resize: none;
  overflow: auto;
  outline: none;
  text-transform: lowercase;
}

.presentation__mainContent__text::-webkit-input-placeholder {
  font-family: var(--primary-font-family);
  color: var(--darkblue-300);
  font-weight: 300;
  font-size: 2rem;
  text-transform: initial;
}

.presentation__mainContent__buttons__info {
  display: flex;
  gap: 5px;
}

.presentation__mainContent__info__text {
  font-family: var(--primary-font-family);
  font-weight: 300;
  font-size: 0.75rem;
  color: var(--gray-400);
}

.presentation__mainContent__buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: auto;
}

.presentation__mainContent__buttons_division {
  display: flex;
  gap: 24px;
}


.presentation__mainContent__buttons__division__button {
  padding: 20px 24px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  border: 1px solid var(--darkblue-300);
  border-radius: 20px;
  font-family: var(--primary-font-family);
  cursor: pointer;
}

.button-blue {
  background-color: var(--darkblue-300);
  color: var(--terciary-color);
}

.button-blue:hover {
  background-color: var(--darkblue-400-thin);
}

.button-gray {
  color: var(--darkblue-300);
}

.button-gray:hover {
  background-color: var(--terciary-color);
}

.presentation__textCryptography,
.presentation__textCryptographyAlone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 36%;
  border: 1px solid var(--terciary-color);
  border-radius: 2rem;
  box-shadow:  0em 0.2em 0.5em rgba(3, 3, 3, 0.486);
  margin-right: 2.5rem;
  height: 100vh;
}

.presentation__textCryptographyAlone {
  justify-content: space-between;
  padding-bottom: 5.5%;
  gap: 7%;
}

.presentation__textCryptography__subTitle {
  color: var(--gray-500);
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.hide {
  display: none;
}

.presentation__textCryptography__paragraph,
.presentation__textCryptography__paragraphAlone {
  color: var(--gray-400);
  font-family: var(--primary-font-family);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.presentation__textCryptography__paragraphAlone {
  font-size: 1.5rem;
  white-space: wrap;
}

.presentation__textCryptography__button {
  padding: 20px 24px;
  /* width: 80%; */
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1rem;
  border: 1px solid var(--darkblue-300);
  border-radius: 20px;
  font-family: var(--primary-font-family);
  cursor: pointer;
  margin-bottom: 4%;
}

.presentation__textCryptography__textArea {
  width: 100%;
  height: 100%;
  border: none;
  font-family: var(--primary-font-family);
  color: var(--darkblue-300);
  font-weight: 300;
  margin-top: 8%;
  font-size: 2rem;
  outline: none;
  resize: none;
  overflow: auto;
  text-transform: lowercase;
  text-align: start;
  background-color: #fff;
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #D8DAE8;
  align-items: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

.footer__list__division {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_list_division__link_image {
  width: 20%;
}

.footer_list__division__link {
  width: 100%;
  text-align: center;
}

.footer__copy {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 50%;
}


.footer__paragraph {
  font-family: var(--primary-font-family);
  color: var(--darkblue-400-thin);
  font-weight: 300;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  /* Main */

  .presentation {
    /* margin-left: 10%; */
    margin-left: 0;
    padding-left: 6%;
    padding: 0 6% 0 6%;
    margin-right: 0;
    display: flex;
    gap: 3rem;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .presentation__mainContent {
    width: 100%;
  }

  .presentation__mainContent__text {
    padding-top: 50px;
    height: 50vh;
  }

  .presentation__textCryptography {
    height: 15vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    gap: 10px;
  }

  .presentation__textCryptographyAlone {
    justify-content: space-between;
    height: 40vh;
    padding: 0 2% 0 2%;
    padding-bottom: 0;
    gap: 1rem;
  }

  .presentation__textCryptography__button {
    width: 80%;
  }

  #encryptImage {
    display: none;
  }

  .footer_list_division__link_image {
    width: 30%;
  }

  .footer__paragraph {
    font-size: 0.8rem;
  }
}

@media(max-width: 440px) {

  /* Header */
  .header {
    margin-left: -32px;
  }

  .presentation {
    gap: 20px;
  }

  .presentation__mainContent__buttons_division {
    flex-direction: column;
    width: 80%;
  }

  .presentation__textCryptography {
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: center;
  }


  .presentation__textCryptographyAlone {
    height: 40vh;
  }

  .footer {
    text-align: center;
    margin-top: 5%;
  }

  .footer_list_subtitle {
    font-size: 1rem;
  }

  .footer_list_division__link_image {
    width: 30%;
  }

  .footer__paragraph {
    font-size: 0.6rem;
  }
}